:host(.ikasan-charts) .highcharts-color-0 {
    stroke: #ef5350;
    fill: #ef5350;
}

:host(.ikasan-charts) .highcharts-color-1 {
    stroke: #66bb6a;
    fill: #66bb6a;
}

:host(.ikasan-charts) .highcharts-color-2 {
    stroke: rgba(241, 90, 35, 1.0);
    fill: rgba(241, 90, 35, 1.0);
}

:host(.ikasan-charts) .highcharts-plot-lines-0 .highcharts-plot-line {
    stroke: #c0c0c0;
}

:host(.ikasan-charts) .highcharts-markers > .highcharts-point {
}

